<head>
  <%= stylesheet_link_tag "welcome", :media => "all" %>
</head>

<body>
  <div class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand">Simply Becky</a></a>
      </div>


  </div>


</body>
